---
import Main from "../layouts/Main.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Pillars from "../components/Pillars.astro";
import {
  PILLARS,
  HERO_TEXT_FULL,
  strategiesTitle,
  strategiesSubtitle,
} from "../constants.js";
import Strategies from "../components/Strategies.astro";
import ArticleList from "../components/Articles/ArticleList.astro";
const title = "Investment Philosophy";
const subtitle = "Disciplined. Systematic. Risk-Aware.";
---

<Main title={title}>
  <Header title={title} subtitle={subtitle} />
  <Hero text={HERO_TEXT_FULL} />
  <Pillars pillars={PILLARS} />
  <Strategies title={strategiesTitle} subtitle={strategiesSubtitle} />
  <ArticleList limit={3} />
</Main>
