---
import { fetchLTMReturns } from "../api";
import Chart from "./Chart.astro";

export type Props = {
  ID: number;
  Name: string;
  Description: string;
  Data?: number[];
  Labels?: string[];
};

const { ID, Name, Description, RiskLevelID } = Astro.props;

const { Values } = await fetchLTMReturns(ID);

const Labels = Object.keys(Values).map((date) =>
  new Date(date).toLocaleString("default", { month: "short", year: "numeric" }),
);
const Data = Object.values(Values);
---

<a href=`/portfolios/${ID}` class="portfolio-summary">
  <h3 class="title">{Name}</h3>
  <p>
    Risk: {[...Array(RiskLevelID)].keys().map((_) => "🔥")}
  </p>
  <Chart data={Data} labels={Labels} />
  <p>{Description}</p>
  <div class="portfolioSummary__footer">&rarr;</div>
</a>

<style>
  .portfolio-summary {
    padding: 2rem;
    border-radius: var(--radius);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    background-color: rgb(from var(--surface) r g b / 0.9);
    transition: all 0.2s ease-in-out;
  }

  .portfolio-summary:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 40px rgb(from var(--accent) r g b / 0.8);
  }

  .portfolioSummary__footer {
    margin: auto 0 0 auto;
    font-size: 1.2rem;
    color: var(--accent);
  }
</style>
