---
import Main from "../../layouts/Main.astro";
import Header from "../../components/Header.astro";
import Pillars from "../../components/Pillars.astro";
import { Simulator } from "../../components/Portfolio/Simulator/Simulator.jsx";
import { getPortfolio, getPortfolios } from "../../server-api";
import { portfolio as portfolioType } from "../../components/Portfolio/portfolio";
import { PILLARS } from "../../constants";

export async function getStaticPaths() {
  const portfolios: portfolioType[] = await getPortfolios();
  return portfolios.map((portfolio) => ({
    params: {
      alias: portfolio["Alias"],
    },
  }));
}

const { alias } = Astro.params;
const {
  ID: PortfolioID,
  Name,
  ShortDescription,
  Description,
  RiskLevelID,
} = await getPortfolio(alias);
---

<Main title=`Portfolio ${Name}`>
  <Simulator
    {PortfolioID}
    {Name}
    Alias={alias}
    {ShortDescription}
    {Description}
    {RiskLevelID}
    client:load
  />
  <Pillars pillars={PILLARS} />
</Main>

<style>
  .columns {
    display: flex;
    flex-direction: row;
  }
</style>
